@media (max-width: 750px) {
  // 联系我们
  .contact {
    .top_banner {
      height: 29.375rem;
      .t_box {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .title {
          font-size: 2.5rem;
        }
      }
    }
    .bottom_contain {
      .a_content {
        padding: 1.5rem !important;
        flex-flow: column;
        .a_content_left {
          padding: 3.75rem 1.875rem 4rem 1.875rem !important;
          width: auto !important;
          margin: 0;
          margin-bottom: 1.5rem;
          border-radius: 0.625rem;
          .title {
            font-size: 1.5rem;
            line-height: 2.25rem;
            margin-bottom: 2.5rem;
          }
          ul li {
            display: flex;
            align-items: center;
            font-size: 0.75rem;
            line-height: 1.125rem;
            &:not(:last-of-type) {
              margin-bottom: 1.5rem;
            }
            img {
              width: 1.125rem;
              height: 1.125rem;
              margin-right: 0.75rem;
            }
          }
        }
        .a_content_right {
          margin-bottom: 2.125rem;
          img {
            height: 31.25rem;
            object-fit: cover;
            border-radius: 0.625rem;
          }
        }
      }
      .message {
        padding: 3.75rem 1.5rem 3.875rem;
        .title {
          font-size: 1.5rem;
          line-height: 2.25rem;
          margin-bottom: 1.875rem;
          text-align: center;
        }
        .ant-form-item-label > label {
          font-size: 1rem;
          line-height: 1.5rem;
        }
        .ant-input:not(textarea) {
          height: 3rem;
        }
        textarea.ant-input {
          height: 15rem;
        }
        .submit {
          .ant-form-item {
            position: initial;
            text-align: center;
          }
          .subBtn {
            width: 11.25rem;
            height: 3.5rem;
            padding: 0.8125rem 3.125rem;
            font-size: 1.25rem;
            line-height: 1.25rem;
          }
        }
      }
    }
  }
  // 关于我们
  .new_banner {
    height: 29.375rem;
    .t_box {
      width: 16rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .title {
        font-size: 2.5rem;
        line-height: 3.75rem;
        text-align: center;
        span {
          display: block;
        }
      }
    }
  }
  .news,
  .products {
    .new_title {
      margin-bottom: 2.5rem;
      p {
        font-size: 1.5rem;
        line-height: 2.25rem;
        padding-bottom: 1rem;
      }
    }
    .news_hot {
      padding: 3.75rem 0 9.5rem;
      .hot_contain {
        font-size: 1rem;
        img {
          height: 17.5rem;
        }
        .hot_name {
          height: 3rem;
          line-height: 1.5rem;
          margin-top: 1.25rem;
        }
        .hot_date {
          margin: 0.625rem 0 1.25rem;
          line-height: 1.5rem;
        }
        .hot_tags {
          span {
            width: 5.5rem;
            line-height: 1.5rem;
            padding: 0.375rem 0;
            text-align: center;
            &:not(:last-of-type) {
              margin-right: 0.5rem;
            }
          }
        }
      }
      .swiper_box {
        position: relative;
        .swiper {
          padding-right: 1.25rem;
          .swiper-wrapper {
            margin-left: 1.5rem;
            .swiper-slide {
              width: 17.5rem !important;
            }
            .swiper-slide:last-of-type {
              margin-right: 1.25rem;
            }
          }
        }
        .home_silde {
          position: absolute;
          left: 50%;
          bottom: -5.75rem;
          transform: translateX(-50%);
          font-size: 0;
        }
        .home_sildePre,
        .home_sildeNext {
          position: relative;
          display: inline-block;
          width: 1.875rem;
          height: 1.875rem;
          top: initial;
          right: initial;
          img {
            width: 1rem;
          }
        }
        .home_sildePre {
          // left: 9.5rem;
          margin-right: 0.75rem;
        }
        .home_sildeNext {
          // right: 9.5rem;
        }
      }
    }
    .news_industry {
      padding: 3.75rem 1.5rem 3.5rem;
      ul li {
        flex-flow: column !important;
        &:not(:last-of-type) {
          margin-bottom: 1.875rem;
        }
        img {
          width: 20.4375rem;
          height: 10.25rem;
        }
        .li_box {
          margin: 0;
          margin-top: 0.75rem;
          .li_date {
            font-size: 0.875rem;
            line-height: 1.75rem;
          }
          .li_name {
            font-size: 1.125rem;
            line-height: 1.6875rem;
            font-weight: 500;
          }
          .subBtn {
            width: 5.625rem;
            height: 2.25rem;
            padding: 0.5rem 0;
            font-size: 0.75rem;
            line-height: 1.125rem;
            margin-top: 0.75rem;
          }
        }
      }
      .themeBtn {
        margin-top: 3.125rem;
      }
    }
  }
  // 案例
  .products {
    .new_title {
      margin-bottom: 2.5rem;
      & > p {
        font-size: 1.5rem;
        line-height: 2.25rem;
        padding-bottom: 1rem;
      }
    }
    .pro_hot {
      padding: 3.75rem 0;
      .pro_tags {
        margin: 2.5rem 0;
        height: 2.25rem;
        .swiper {
          padding-right: 0.625rem;
          .swiper-wrapper {
            margin-left: 0.625rem;
            .swiper-slide {
              width: 7.5rem !important;
            }
            .swiper-slide:last-of-type {
              margin-right: 0.625rem;
            }
          }
        }
        .tag {
          width: 7.5rem;
          height: 2.25rem;
          font-size: 1rem;
          line-height: 2.25rem;
        }
      }
      .pro_list {
        padding: 0 1.5rem;
        margin-bottom: 2.5rem;
        .pro_col {
          height: 12.5rem;
        }
        .pro_box {
          p {
            font-size: 1rem;
            line-height: 1.5rem;
            bottom: 1.25rem;
          }
        }
      }
      .subBtn {
        width: 11.25rem;
        height: 3.5rem;
        font-size: 1.25rem;
        line-height: 1.875rem;
      }
      .pro_types {
        height: 2.1875rem;
        line-height: 2.1875rem;
        .type_box_mb {
          font-size: 1.25rem;
          line-height: 1.5rem;
          color: rgba(35, 35, 35, 0.4);
          display: inline-block;
          transition: all 0.3s;
          &:not(:last-of-type) {
            margin-right: 1.875rem;
          }
          &.active {
            color: #ff8a2c;
            // font-size: 1.75rem;
            // line-height: 2.125rem;
            // font-size: 28px;
            transform: scale(1.4);
          }
          &.subactive {
            color: rgba(35, 35, 35, 0.6);
          }
        }
      }
    }
    .pro_industry {
      padding: 3.75rem 1.875rem 4.25rem;
      .pro_service {
        .ser_text {
          font-size: 0.875rem;
          margin: 0 auto 2.2rem;
          width: 18.1875rem;
          p {
            line-height: 1.75rem;
          }
        }
        .ser_box {
          .ser_tag,
          .reverse_tag {
            width: 4.7rem;
            height: 5.46rem;
            font-size: 0.75rem;
            line-height: 1.125rem;
            padding: 0.875rem 0 0.75rem;
            img {
              width: 2.125rem;
              height: 2.125rem;
              margin-bottom: 0.375rem;
            }
            p {
              line-height: 1.125rem;
            }
          }
          .ser_tag {
            &.ser_tag:not(:last-of-type) {
              margin-right: 3.25rem;
            }
          }
          .reverse_tag {
            &.reverse_tag:not(:first-of-type) {
              margin-right: 3.25rem;
            }
          }
          .ser_center {
            div {
              width: 4.5rem;
              height: 3.125rem;
            }
          }
          .arrow_r {
            &:not(:last-of-type) {
              &::after {
                content: '';
                width: 1.25rem;
                height: 1.25rem;
                right: -2.1875rem;
              }
            }
          }
          .arrow_l {
            &:not(:first-of-type) {
              &::after {
                content: '';
                width: 1.25rem;
                height: 1.25rem;
                right: -2.1875rem;
              }
            }
          }
          .arrow {
            width: 1.25rem;
            height: 1.25rem;
          }
        }
      }
    }
  }
  // 关于我们
  .about {
    .new_title {
      margin-bottom: 2.5rem;
      & > p {
        font-size: 1.5rem;
        line-height: 2.25rem;
        padding-bottom: 1rem;
      }
    }
    .about_banner {
      padding: 2.5rem 0 3.75rem;
      .about_contain {
        border-radius: 0.625rem;
        height: 100%;
        .content {
          width: 100%;
          bottom: 3.75rem;
          top: initial;
          transform: translateX(-50%);
          .title {
            font-size: 2.25rem;
            line-height: 3.375rem;
            letter-spacing: 0.4375rem;
          }
          .text {
            font-size: 1.25rem;
            line-height: 1.875rem;
            margin-top: 0;
          }
        }
        img {
          border-radius: 0.625rem;
          object-fit: cover;
        }
      }
      .swiper_box {
        .swiper {
          .swiper-wrapper {
            .swiper-slide {
              width: 17.5rem !important;
              height: 25rem !important;
              &.swiper-slide-active {
                img {
                  transform: scale(1);
                }
              }
            }
          }
        }
      }
      .home_silde {
        margin-top: 2.875rem;
      }
    }
    .about_introduce {
      padding: 3.75rem 0;
      height: 100vh;
      background: url(../../assets/img/about/text_bg.png) no-repeat center/cover;
      .about_contain {
        padding: 0 1.5rem;
        p {
          font-size: 0.875rem;
          line-height: 1.75rem;
        }
      }
      .home_silde {
        // margin-top: 6.25rem;
        bottom: 3.75rem;
      }
    }
    .about_brand {
      padding: 3.75rem 1.75rem 2.5rem;
      img {
        width: 5rem;
        height: 5rem;
      }
    }
    .about_course {
      padding: 3.75rem 0;
      background: url(../../assets/img/product/text_bg.png) no-repeat center / cover;
      .new_title {
        margin-bottom: 0;
      }
      .year_box {
        & > div {
          padding: 0;
        }
        .swiper {
          .swiper-wrapper {
            .swiper-slide {
              width: 15rem !important;
              height: 7.9375rem !important;
              &.swiper-slide-active {
                .year {
                  p {
                    transform: scale(1);
                    line-height: 4.5rem;
                  }
                  .circle {
                    margin-top: 0.625rem;
                  }
                }
              }
              &.swiper-slide-prev {
                .year {
                  position: absolute;
                  right: 0;
                  .circle {
                    display: none;
                  }
                }
              }
              &.swiper-slide-next {
                .year {
                  position: absolute;
                  left: 0;
                  .circle {
                    display: none;
                  }
                }
              }
            }
          }
        }
        .year {
          p {
            font-size: 3rem;
            transition: 0s;
          }
          .circle {
            width: 0.9375rem;
            height: 0.9375rem;
            border: 0.125rem solid #ff8a2c;
            margin-top: 0.625rem;
          }
        }
        .line {
          bottom: 0.7rem;
        }
      }
      .course_box {
        padding: 0;
        margin-top: 3.125rem;
        .swiper {
          .swiper-wrapper {
            .swiper-slide {
              width: 15rem !important;
              height: 19.875rem !important;
              &.swiper-slide-active {
                .about_contain {
                  .name {
                    font-size: 1rem;
                    display: inline-block;
                    width: 20.4375rem;
                    position: absolute;
                    left: -2.75rem;
                  }
                }
              }
            }
          }
        }
      }
      .about_contain {
        border-radius: 0.625rem;
        .contain_top {
          width: 15rem;
          height: 15rem;
          .shadow {
            border-radius: 0.625rem;
          }
          img {
            border-radius: 0.625rem;
          }
        }
        .name {
          font-size: 1rem;
          margin-top: 1.875rem;
          line-height: 1.5rem;
          display: none;
        }
      }
      .home_silde {
        margin-top: 5.3125rem;
        .home_sildePre,
        .home_sildeNext {
          margin: 0 0.375rem;
        }
      }
    }
    .about_debris {
      padding: 2.5rem 0 3.5rem;
      .img_box {
        img {
          border-radius: 0.625rem;
        }
        .top_down {
          margin: 0 0.36458rem;
        }
        .single {
          height: 22.604rem;
          margin: 0 0.36458rem;
        }
        .width_600 {
          width: 21.875rem;
        }
        .width_560 {
          width: 20.416rem;
        }
        .width_1140 {
          width: 71.25rem;
        }
        .height_360 {
          height: 13.125rem;
        }
        .height_300 {
          height: 10.9375rem;
        }
        .height_240 {
          height: 8.75rem;
        }
        .mb_20 {
          margin-bottom: 0.875rem;
        }
        .mr_20 {
          margin-right: 0.875rem;
        }
      }
      .scroll-content {
        width: 147.5rem;
      }
    }
    .home_silde {
      .home_sildePre,
      .home_sildeNext {
        width: 1.875rem;
        height: 1.875rem;
        img {
          width: 1rem;
        }
      }
      .progress {
        width: 3.9375rem;
        height: 1.875rem;
        font-size: 1.25rem;
        line-height: 1.875rem;
      }
    }
  }
  // 首页
  .home {
    .pageSwiper {
      & > .swiper-wrapper > .swiper-slide {
        height: 100% !important;
      }
    }
    .h_first {
      padding: 0;
      .title {
        font-size: 3.125rem;
        line-height: 4.6875rem;
        letter-spacing: 0.625rem;
      }
      .subtitle {
        font-size: 1.875rem;
        line-height: 2.8125rem;
      }
      .downLoad {
        bottom: 3.375rem;
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    .h_second {
      padding: 5rem 1.5rem 6.25rem;
      .s_top {
        margin-bottom: 9.875rem;
        position: relative;
        top: initial;
        .title {
          font-size: 2.5rem;
          line-height: 3.12rem;
        }
        .s_text {
          width: auto;
          font-size: 1rem;
          line-height: 1.56rem;
          margin: 1.25rem 0 0;
          letter-spacing: 1px;
        }
      }
      .s_bottom {
        width: 100%;
        position: relative;
        float: none;
        bottom: initial;
        right: initial;
        .type_box {
          transform: scale(0.623);
          border-radius: 0.8125rem;
          p {
            width: 1.75rem;
            font-size: 3.448rem;
            transform: translate(-50%, -50%) scale(0.623);
          }
        }
        .swiper {
          .swiper-wrapper {
            .swiper-slide {
              width: 7.125rem !important;
              height: 10rem !important;
              &.swiper-slide-prev {
                .type_box {
                  transform: scale(0.623) translateX(1rem);
                }
              }
              &.swiper-slide-next {
                .type_box {
                  transform: scale(0.623) translateX(-1rem);
                }
              }
              &.swiper-slide-active {
                margin: 0;
                .type_box {
                  p {
                    font-size: 2.125rem;
                    line-height: 2.563rem;
                  }
                }
              }
            }
          }
        }
        .home_silde {
          margin-top: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 2;
          width: 100%;
          .home_sildePre,
          .home_sildeNext {
            width: 1.875rem;
            height: 1.875rem;
            margin: 0;
            img {
              width: 1rem;
            }
          }
          .home_sildePre {
            left: -9.6rem;
          }
          .home_sildeNext {
            right: -9.6rem;
          }
        }
      }
      .btn_box {
        text-align: center;
        margin-top: 3.75rem;
        .s_btn {
          width: 11.25rem !important;
          height: 3.5rem;
          font-size: 1.25rem;
          line-height: 1.875rem;
        }
      }
    }
    .h_third {
      padding: 3.85rem 0 2.5rem;
      .bg_img {
        .swiper {
          .swiper-slide {
            height: 100%;
          }
        }
      }
      .h_types {
        padding: 0 0;
        text-align: center;
        height: 3rem;
        line-height: 3rem;
      }
      .type_box_mb {
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: rgba(35, 35, 35, 0.4);
        display: inline-block;
        transition: transform 0.3s;
        &:not(:last-of-type) {
          margin-right: 1.875rem;
        }
        &.active {
          // font-size: 1.75rem;
          // line-height: 2.125rem;
          color: #fff;
          position: relative;
          padding-bottom: 0.6125rem;
          transform: scale(1.4);
          &::after {
            content: '';
            display: inline-block;
            width: 3.125rem;
            height: 0.25rem;
            background: #ff8a2c;
            position: absolute;
            bottom: 0;
            left: -0.5rem;
            transform: scale(0.7);
          }
        }
        &.subactive {
          color: rgba(35, 35, 35, 0.6);
        }
      }

      .h_tags {
        margin: 3.025rem 0 2.5rem;
        padding: 0;
        height: 2.25rem;
        .swiper {
          padding-right: 0.625rem;
          .swiper-wrapper {
            margin-left: 0.625rem;
            .swiper-slide {
              width: 7.5rem !important;
            }
            .swiper-slide:last-of-type {
              margin-right: 0.625rem;
            }
          }
        }
        .tag {
          width: 7.5rem;
          height: 2.25rem;
          font-size: 1rem;
          line-height: 2.25rem;
        }
      }
      .h_video {
        padding: 0 1.125rem;
        .swiper {
          .swiper-wrapper {
            .swiper-slide {
              // width: 100% !important;
              // height: 100% !important;
              width: 16.25rem !important;
              height: 20rem !important;
              margin-right: initial;
              border-radius: 0.625rem;
              transition: 0.5s;
              -webkit-backface-visibility: hidden;
              -webkit-transform-style: preserve-3d;
              .about_contain {
                opacity: 0;
              }
              &.swiper-slide-active {
                .about_contain {
                  opacity: 1;
                }
                .play {
                  animation-name: opacityAni;
                  -webkit-animation-duration: 1s;
                  animation-duration: 1s;
                }
              }
              &.swiper-slide-next,
              &.swiper-slide-prev {
                .about_contain {
                  opacity: 0.5;
                }
              }
            }
          }
        }
        .about_contain {
          border-radius: 0.625rem;
          & > .cover {
            border-radius: 0.625rem;
            object-fit: cover;
            object-position: center;
          }
          .play {
            padding: 0.9375rem;
            width: 1.875rem;
            height: 1.875rem;
          }
        }
        .home_silde {
          top: 31%;
          transform: initial;
          z-index: 3;
          .home_sildePre,
          .home_sildeNext {
            width: 1.875rem;
            height: 1.875rem;
            img {
              width: 1rem;
            }
          }
          .home_sildePre {
            left: -45%;
          }
          .home_sildeNext {
            right: -35%;
          }
        }
        .content {
          text-align: center;
          .title {
            font-weight: 500;
            font-size: 1.5rem;
            color: #fff;
            line-height: 2.25rem;
            margin-top: 1.875rem;
          }
        }
        .btn_box {
          text-align: center;
          margin-top: 4.525rem;
          .s_btn {
            width: 11.25rem !important;
            height: 3.5rem;
            font-size: 1.25rem;
            line-height: 1.875rem;
          }
        }
      }
    }
    .test {
      height: 1500px;
      background: red;
      font-size: 100px;
      word-break: break-all;
    }
  }
  // 浮窗
  .pop.pop_box {
    right: 0.5rem;
    bottom: 0rem;
    top: initial;
    .pop_block {
      width: 3rem;
      height: 3rem;
      padding: 0.5625rem;
      margin-bottom: 0.5rem;
      &:hover {
        background: rgba(0, 0, 0, 0.5) !important;
      }
      img {
        width: 1.875rem;
        height: 1.875rem;
      }
    }
  }
  // 公共
  .themeBtn {
    width: 11.25rem;
    height: 3.5rem;
    border: 1px solid #ff8a2c;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
  .home_silde {
    .home_sildePre,
    .home_sildeNext {
      &.hoverSilde {
        div {
          width: 1rem !important;
          height: 1rem !important;
        }
      }
    }
  }
  // 标题底部横线
  .bottom_border {
    &::after {
      width: 2.5rem;
      height: 4px;
    }
  }
}
@media (max-height: 667px) {
  .home {
    .h_second {
      padding: 4rem 1.5rem 2.5rem;
      .s_top {
        margin-bottom: 6.25rem;
      }
      .btn_box {
        margin-top: 1.875rem;
      }
    }
    .h_third {
      padding: 4rem 0 2.5rem;
      .h_tags {
        margin: 1.5rem 0 2rem;
      }
      .h_video {
        .content .title {
          margin-top: 1rem;
        }
        .btn_box {
          margin-top: 1.875rem !important;
        }
      }
    }
  }
}
